Repository fazstrac/devops-with-kubernetes: changes, and which Woodpecker steps are due for each by the changed paths.
All: test_log_output, build_log_output, test_pingpong, build_pingpong, test_project, build_project, build_logapp, test

Path conditions:
  test_log_output: any of: log_output/**, .woodpecker/build.yaml
  build_log_output: any of: log_output/**, .woodpecker/build.yaml
  test_pingpong: any of: pong_app/**, .woodpecker/build.yaml
  build_pingpong: any of: pong_app/**, .woodpecker/build.yaml
  test_project: any of: project/**, .woodpecker/build.yaml
  build_project: any of: project/**, .woodpecker/build.yaml
  build_logapp: any of: log_output/**, .woodpecker/build_logapp.yaml
  test: any of: project/**, .woodpecker/test.yaml

New go
  .woodpecker/build.yaml
  log_output/Containerfile
  pong_app/Containerfile
  project/Containerfile
Due: test_log_output, build_log_output, test_pingpong, build_pingpong, test_project, build_project, build_logapp, test

Directory renaming part 1
  .woodpecker/build.yaml
  log-output/.gitignore
  log-output/Containerfile
  log-output/go.mod
  log-output/go.sum
  log-output/main.go
  log-output/main_test.go
  log-output/manifests/deploy.yaml
  log-output/manifests/ingress.yaml
  log-output/manifests/service.yaml
  pong-app/.gitignore
  pong-app/Containerfile
  pong-app/go.mod
  pong-app/go.sum
  pong-app/main.go
  pong-app/main_test.go
  pong-app/manifests/deploy.yaml
  pong-app/manifests/ingress.yaml
  pong-app/manifests/service.yaml
Due: test_log_output, build_log_output, test_pingpong, build_pingpong, test_project, build_project

Need to hardcode /pingpong endpoint as I don't want to mix too much Traefik into here.
  .woodpecker/build.yaml
  pong-app/main.go
  pong-app/main_test.go
Due: test_log_output, build_log_output, test_pingpong, build_pingpong, test_project, build_project

Underscore removal part 1. Looks like this is working after all!
  pong-app/manifests/deploy.yaml
Due: none

Add license and README.md for all apps, and check for package names in go.mod. Ready merge to main.
  LICENSE
  log-output/README.md
  log-output/go.mod
  pong-app/README.md
  pong-app/go.mod
  project/README.md
Due: test_project, build_project, test

Tweak pong-app/manifests/ingress.yaml to route by default to log-output and route only /pingpong to pong-app. PR merge readyness achieved.
  pong-app/manifests/ingress.yaml
Due: none

Ready to release 1.9
  pong-app/manifests/deploy.yaml
Due: none

Update README.md
  README.md
Due: none

exercise/1p10 (#1)
  .forgejo/workflows/build-push-dev.yaml
  .forgejo/workflows/build-push-main.yaml
  .woodpecker/build.yaml
  README.md
  log-output/README.md
  log-output/app1/Containerfile
  log-output/app1/go.mod
  log-output/app1/go.sum
  log-output/app1/main.go
  log-output/app1/main_test.go
  log-output/app2/Containerfile
  log-output/app2/go.mod
  log-output/app2/go.sum
  log-output/app2/main.go
  log-output/app2/main_test.go
  log-output/main.go
  log-output/manifests/deploy.yaml
  log-output/manifests/ingress.yaml
  pong-app/manifests/deploy.yaml
  project/Containerfile
  project/manifests/deploy.yaml
Due: test_log_output, build_log_output, test_pingpong, build_pingpong, test_project, build_project, test

Ready to release exercise 1.10
  README.md
  log-output/README.md
  log-output/manifests/deploy.yaml
  pong-app/manifests/deploy.yaml
  project/manifests/deploy.yaml
Due: test_project, build_project, test

Typo in deploy image tags vs CI created tags
  log-output/manifests/deploy.yaml
  pong-app/manifests/deploy.yaml
  project/manifests/deploy.yaml
Due: test_project, build_project, test

Typo in deployment script
  pong-app/manifests/deploy.yaml
Due: none

Had dropped USER from app1 Containerfile
  log-output/app1/Containerfile
Due: none

Commit tonight's unfinished work [no-ci]
  log-output/app2/main.go
  log-output/app2/main_test.go
  manifests/log-pong-pvc.yaml
  pong-app/main.go
  pong-app/manifests/deploy.yaml
Due: none

exercise/1p11 (#2)
  README.md
  log-output/README.md
  log-output/app2/Containerfile
  log-output/app2/main.go
  log-output/app2/main_test.go
  log-output/manifests/deploy.yaml
  manifests/log-pong-pv.yaml
  manifests/log-pong-pvc.yaml
  pong-app/Containerfile
  pong-app/README.md
  pong-app/main.go
  pong-app/main_test.go
  pong-app/manifests/deploy.yaml
  project/manifests/deploy.yaml
Due: test_project, build_project, test

Fixed a stupid typo in Action script
  .forgejo/workflows/build-push-main.yaml
Due: none

Fixed a double colon typo in the pong-app manifest
  pong-app/manifests/deploy.yaml
Due: none

Basic functionality is there
  project/Containerfile
  project/main.go
  project/manifests/deploy.yaml
  project/templates/index.html
Due: test_project, build_project, test

Fetch image, cache it into persistent volume, add debug sidecar container to project, update html template
  project/main.go
  project/manifests/deploy.yaml
  project/manifests/project-pv.yaml
  project/manifests/project-pvc.yaml
  project/templates/index.html
Due: test_project, build_project, test

Refactored code to be testable using type App struct. Separated its implementation into app.go to keep main.go tidy.
  project/app.go
  project/main.go
  project/main_test.go
Due: test_project, build_project, test

Remove PORT environment variable setting in TestGetIndex and update assertion in TestReadImageNonExistentFile to expect an error
  project/main_test.go
Due: test_project, build_project, test

Fix Containerfile
  project/Containerfile
Due: test_project, build_project, test

More tests. I am getting better hang of the unit testing game. Some codepaths still remain untested
  project/app.go
  project/main.go
  project/main_test.go
Due: test_project, build_project, test

Improve test coverage, add integration tests, save test coverage reports as artifacts.
  .forgejo/workflows/build-push-dev.yaml
  project/app.go
  project/app_test.go
  project/coverage.out
  project/main_test.go
Due: test_project, build_project, test

Add cleanup and fix artifacts' naming from matrix.app
  .forgejo/workflows/build-push-dev.yaml
Due: none

Rename artifacts file. May cause clashes
  .forgejo/workflows/build-push-dev.yaml
Due: none

Another go at artifact saving
  .forgejo/workflows/build-push-dev.yaml
Due: none

New try at CI matrix.app name sanitization
  .forgejo/workflows/build-push-dev.yaml
Due: none

Commit changes in preparation to refactor mutex logic into channels [no ci]
  .forgejo/workflows/build-push-main.yaml
  project/app.go
  project/app_test.go
  project/main_test.go
Due: test_project, build_project, test

Added grace period for image fetch and refactored code to prevent multiple parallel image fetches.
  project/app.go
  project/main.go
Due: test_project, build_project, test

More refactoring. Preparing for refactoring functions that access files in the system to use func pointers for improved unit testing
  project/app.go
  project/app_test.go
  project/main.go
  project/main_test.go
  project/templates/index.html
Due: test_project, build_project, test

Major refactor in app logic. Change from checking file time stamp and state machine to timer-based background service and using the App object to track image lifetime. [no ci]
  project/app.go
  project/app_test.go
  project/main.go
Due: test_project, build_project, test

forgot these from previous commit [no ci]
  project/app.go
  project/main.go
Due: test_project, build_project, test

Push before refactoring. Still working on tests. [no ci]
  project/app.go
  project/app_test.go
  project/main.go
Due: test_project, build_project, test

Mocked auxiliary function tests with testify/mock. Still need to think how to test other functions [no ci]
  project/app_test.go
  project/go.mod
  project/go.sum
Due: test_project, build_project, test

Tests are moving along nicely but logic still needs work [no ci]
  project/app.go
  project/app_test.go
  project/main_test.go
Due: test_project, build_project, test

Working on retry logic [no ci]
  project/app.go
Due: test_project, build_project, test

Today is ready, code is not [no ci]
  project/app.go
  project/app_test.go
Due: test_project, build_project, test

Refactor image fetching logic to implement retry with Fibonacci backoff and enhance mock testing. Next steps integration tests. [no ci]
  project/app.go
  project/app_test.go
Due: test_project, build_project, test

Refactor image fetching and caching logic to support timeout handling and improve error reporting. Update tests to cover new functionality. [no ci]
  project/app.go
  project/app_test.go
  project/main.go
  project/main_test.go
Due: test_project, build_project, test
