Repository fazstrac/devops-with-kubernetes: changes, and which Woodpecker steps are due for each by the changed paths.
All: test_log-output, test_pingpong, test_project, build_log-output, build_pingpong, build_project, build_logapp, test

test_log-output:
  image: golang:1.24-alpine
  commands:
  - cd log-output
  - go test -v

test_pingpong:
  image: golang:1.24-alpine
  commands:
  - cd pong-app
  - go test -v

test_project:
  image: golang:1.24-alpine
  commands:
  - cd project
  - go test -v

build_log-output:
  image: woodpeckerci/plugin-kaniko
  settings:
    registry: ghcr.io
    repo: fazstrac/log-output
    dockerfile: log-output/Containerfile
    context: log-output
    tags:
    - ${CI_COMMIT_TAG}
    - ${CI_COMMIT_SHA}
    - latest
    cache: false
    dry-run: false
    build_args:
    - COMMIT_SHA=${CI_COMMIT_SHA}
  ...

build_pingpong:
  image: woodpeckerci/plugin-kaniko
  settings:
    registry: ghcr.io
    repo: fazstrac/dwk-pong-app
    dockerfile: pong-app/Containerfile
    context: pong-app
    tags:
    - ${CI_COMMIT_TAG}
    - ${CI_COMMIT_SHA}
    - latest
    cache: false
    dry-run: false
    build_args:
    - COMMIT_SHA=${CI_COMMIT_SHA}
  ...

build_project:
  image: woodpeckerci/plugin-kaniko
  settings:
    registry: ghcr.io
    repo: fazstrac/dwk-project
    dockerfile: project/Containerfile
    context: project
    tags:
    - ${CI_COMMIT_TAG}
    - ${CI_COMMIT_SHA}
    - latest
    cache: false
    dry-run: false
    build_args:
    - COMMIT_SHA=${CI_COMMIT_SHA}
  ...

build_logapp:
  steps:
    build:
      name: Build and push project image to ghcr.io
      image: woodpeckerci/plugin-kaniko
      settings:
        registry: ghcr.io
        repo: fazstrac/log_output
        dockerfile: log_output/Containerfile
        context: log_output
        tags:
        - ${CI_COMMIT_SHA}
        - latest
  ...

test:
  steps:
    test:
      name: Run project app tests
      image: golang:1.24-alpine
      commands:
      - cd project
      - go test -v

Again
  .forgejo/workflows/build-push-dev.yaml
Due: none

Remove setup steps for Go and Node.js from CI workflow to use locally installed versions in runners instead.
  .forgejo/workflows/build-push-dev.yaml
Due: none

Implemented PATCH and DELETE to todo-backend, cleaned up READMEs. Prepare for refactoring the user interface.
  README.md
  project/README.md
  project/todo-app/package.json
  project/todo-app/ts/todo-api.ts
  project/todo-app/ts/tsconfig.json
  project/todo-app/yarn.lock
  project/todo-backend/main.go
  project/todo-backend/main_unit_test.go
Due: test_project, build_project, test

Fixed errors left in TS tests - missing imports from vitest.
  project/todo-app/ts/tests/main.dom.test.ts
  project/todo-app/ts/tests/todo.test.ts
Due: test_project, build_project, test

Improved artifacts' and JS + Go coverage report collection.
  .forgejo/workflows/build-push-dev.yaml
  .gitignore
  project/todo-app/package.json
  project/todo-app/vitest.config.ts
  project/todo-app/yarn.lock
Due: test_project, build_project, test

Correct artifact folder in CI, project index.html changes for table based Todos + its population code in JS.
  .forgejo/workflows/build-push-dev.yaml
  project/todo-app/templates/index.html
  project/todo-app/ts/main.ts
Due: test_project, build_project, test

Updated `main.ts`.
  project/todo-app/ts/main.ts
Due: test_project, build_project, test

Added playful CSS and mobile friendliness to the UI (by Copilot).
  .gitignore
  project/todo-app/static/styles.css
  project/todo-app/templates/index.html
  project/todo-app/ts/main.ts
Due: test_project, build_project, test

Ready to merge [no ci]
  CHANGELOG.md
  project/manifests/deploy-todo-app.yaml
  project/manifests/deploy-todo-backend.yaml
Due: test_project, build_project, test

Patch 1: Update CI script to support two containers in `project` and update Containerfiles for `project`.
  .forgejo/workflows/build-push-dev.yaml
  .forgejo/workflows/build-push-main.yaml
  project/manifests/deploy-todo-app.yaml
  project/manifests/deploy-todo-backend.yaml
Due: test_project, build_project, test

Changed log-output app deployment namespace to `exercises` and tidied CI scripts.
  .forgejo/workflows/build-push-dev.yaml
  .forgejo/workflows/build-push-main.yaml
  log-output/manifests/deploy.yaml
  pong-app/manifests/deploy.yaml
Due: test_log-output, test_pingpong, build_log-output, build_pingpong

Push to rename this branch [no ci]
  log-output/manifests/ingress.yaml
  log-output/manifests/service.yaml
  pong-app/manifests/service.yaml
Due: test_log-output, test_pingpong, build_log-output, build_pingpong

Update README.md
  README.md
Due: none

Revert update to CI scripts
  .forgejo/workflows/build-push-dev.yaml
  .forgejo/workflows/build-push-main.yaml
Due: none

Updated README.md and deploy.md for log-output and pong apps in preparation to merge the branch.
  log-output/README.md
  log-output/manifests/deploy.yaml
  pong-app/manifests/deploy.yaml
Due: test_log-output, test_pingpong, build_log-output, build_pingpong

Update README.md [no ci]
  README.md
Due: none

Update CHANGELOG.md and .github/copilot-instructions.md.
  .github/copilot-instructions.md
  CHANGELOG.md
Due: none

Changed namespace dwk-mooc --> project
  project/manifests/deploy-todo-app.yaml
  project/manifests/deploy-todo-backend.yaml
  project/manifests/ingress.yaml
  project/manifests/project-pv.yaml
  project/manifests/project-pvc.yaml
  project/manifests/service-todo-app.yaml
  project/manifests/service-todo-backend.yaml
Due: test_project, build_project, test

Bump the exercise number and deployment image release numbers.
  project/manifests/deploy-todo-app.yaml
  project/manifests/deploy-todo-backend.yaml
  project/todo-app/app.go
Due: test_project, build_project, test

Update documentation in preparation to merge this branch [no ci]
  CHANGELOG.md
  README.md
  project/README.md
Due: test_project, build_project, test

Bump project deployment yamls to PROD (github). Ready to release
  project/manifests/deploy-todo-app.yaml
  project/manifests/deploy-todo-backend.yaml
Due: test_project, build_project, test

Bump Go version to 1.25.3
  log-output/app1/Containerfile
  log-output/app1/go.mod
  log-output/app1/go.sum
  log-output/app2/Containerfile
  log-output/app2/go.mod
  log-output/app2/go.sum
  pong-app/Containerfile
  pong-app/go.mod
  pong-app/go.sum
  project/todo-app/Containerfile
  project/todo-app/go.mod
  project/todo-app/go.sum
  project/todo-backend/Containerfile
  project/todo-backend/go.mod
  project/todo-backend/go.sum
Due: test_log-output, test_pingpong, test_project, build_log-output, build_pingpong, build_project, test

Bump go version in Containerfiles to 1.25.4-alpine. Bump vitest to 4.0.10. Ran tests and everything green. Ready to PR
  log-output/app1/Containerfile
  log-output/app2/Containerfile
  pong-app/Containerfile
  project/todo-app/Containerfile
  project/todo-app/package.json
  project/todo-app/yarn.lock
  project/todo-backend/Containerfile
Due: test_log-output, test_pingpong, test_project, build_log-output, build_pingpong, build_project, test

Update log-output/app1/go.mod
  log-output/app1/go.mod
Due: test_log-output, build_log-output

Update log-output/app2/go.mod
  log-output/app2/go.mod
Due: test_log-output, build_log-output

Update project/todo-app/go.mod
  project/todo-app/go.mod
Due: test_project, build_project, test

Update project/todo-backend/go.mod
  project/todo-backend/go.mod
Due: test_project, build_project, test

Refactor log-output and pong-app for improved environment variable handling and configuration management
  log-output/app1/Containerfile
  log-output/app1/main.go
  log-output/app2/Containerfile
  log-output/app2/main.go
  log-output/app2/main_test.go
  log-output/manifests/configmap.yaml
  log-output/manifests/deploy.yaml
  pong-app/Containerfile
  pong-app/main.go
Due: test_log-output, test_pingpong, build_log-output, build_pingpong

Set up CI to use action-installed Go version 1.25.4 in build workflows for consistent environment
  .forgejo/workflows/build-push-dev.yaml
  .forgejo/workflows/build-push-main.yaml
Due: none

Path conditions:
  test_log-output: any of: log-output/**, .woodpecker/build.yaml
  test_pingpong: any of: pong-app/**, .woodpecker/build.yaml
  test_project: any of: project/**, .woodpecker/build.yaml
  build_log-output: any of: log-output/**, .woodpecker/build.yaml
  build_pingpong: any of: pong-app/**, .woodpecker/build.yaml
  build_project: any of: project/**, .woodpecker/build.yaml
  build_logapp: any of: log_output/**, .woodpecker/build_logapp.yaml
  test: any of: project/**, .woodpecker/test.yaml
