Repository fazstrac/devops-with-kubernetes: changes, and which Woodpecker steps are due for each by the changed paths.
All: test_log-output, test_pingpong, test_project, build_log-output, build_pingpong, build_project, build_logapp, test

Path conditions:
  test_log-output: any of: log-output/**, .woodpecker/build.yaml
  test_pingpong: any of: pong-app/**, .woodpecker/build.yaml
  test_project: any of: project/**, .woodpecker/build.yaml
  build_log-output: any of: log-output/**, .woodpecker/build.yaml
  build_pingpong: any of: pong-app/**, .woodpecker/build.yaml
  build_project: any of: project/**, .woodpecker/build.yaml
  build_logapp: any of: log_output/**, .woodpecker/build_logapp.yaml
  test: any of: project/**, .woodpecker/test.yaml

Refactor background image fetcher to improve error handling and add cold start logic in tests. Update fetch result assertions for clarity. [no ci]
  project/app.go
  project/main_test.go
Due: test_project, build_project, test

FIrst integration tests done. More test cases needed for better integration test coverage [no ci]
  project/app.go
  project/app_unit_test.go
  project/integration_test.go
  project/main_unit_test.go
Due: test_project, build_project, test

Refactor unit tests and add utility functions. Still missing more in depth concurrency tests [no ci]
  project/app.go
  project/integration_concurrency_test.go
  project/integration_image_refresh_test.go
  project/integration_startup_test.go
  project/main.go
  project/main_unit_test.go
  project/test_utils.go
  project/unit_app_test.go
Due: test_project, build_project, test

Almost ready with implementing the concurrent tests [no ci]
  project/integration_concurrency_test.go
Due: test_project, build_project, test

Getting ready to be ready for submission!
  project/coverage.out
  project/integration_concurrency_test.go
  project/main.go
Due: test_project, build_project, test

Should be ready for submission. To test in Kubernetes environment.
  .gitignore
  project/app.go
  project/main.go
  project/unit_app_test.go
Due: test_project, build_project, test

Add logger setup and corresponding tests for initialization.
  project/app.go
  project/main.go
  project/setup_test.go
Due: test_project, build_project, test

This is now ready for submission
  README.md
  project/README.md
  project/main.go
  project/manifests/deploy.yaml
  project/setup_test.go
  project/test_utils.go
Due: test_project, build_project, test

Fixed a silly bug in app.go/StartBackgroundImageFetcher where the channel used for notifying that the image was cached, in fact blocked when it got full. Bummer.
  project/app.go
Due: test_project, build_project, test

Bump dev CI Go version
  .forgejo/workflows/build-push-dev.yaml
Due: none

Ready to release 1.12
  project/manifests/deploy.yaml
Due: test_project, build_project, test

Bug fix in CI
  .forgejo/workflows/build-push-main.yaml
Due: none

Ready to release
  project/README.md
  project/app.go
  project/main.go
  project/manifests/deploy.yaml
  project/static/frontend.js
  project/templates/index.html
Due: test_project, build_project, test

Test fail in CI: Update test TestSetupRouter
  project/integration_startup_test.go
Due: test_project, build_project, test

Add the 140 char maxlength to html [no ci]
  project/templates/index.html
Due: test_project, build_project, test

Release 1.13
  README.md
Due: none

chore: improve test ergonomics and docs (README, copilot instructions, silence project tests)
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  project/setup_test.go
Due: test_project, build_project, test

Update github copilot instructions
  .github/copilot-instructions.md
Due: none

Commit today's achievements. [no ci]
  .forgejo/workflows/build-push-main.yaml
  log-output/app2/main.go
  log-output/app2/main_test.go
  log-output/manifests/deploy.yaml
  manifests/.keep
  manifests/log-pong-pv.yaml
  manifests/log-pong-pvc.yaml
  pong-app/main.go
  pong-app/main_test.go
  pong-app/manifests/deploy.yaml
Due: test_log-output, test_pingpong, build_log-output, build_pingpong

Fixed ENTRYPOINT in log-output/app2 Container file
  log-output/app2/Containerfile
Due: test_log-output, build_log-output

Changed PONGAPP_SVC_URL in log-output/app2 deploy.yaml and removed hardcoded /pongs endpoint in log-output/app2 main.go.
  log-output/app2/main.go
  log-output/manifests/deploy.yaml
Due: test_log-output, build_log-output

log-output/App2: Move handcoded urls to deploy.yaml, fix main.go and main_test.go accordingly.
  log-output/app2/main.go
  log-output/app2/main_test.go
  log-output/manifests/deploy.yaml
Due: test_log-output, build_log-output

Ready to merge exercise/2p1
  CHANGELOG.md
  log-output/README.md
  log-output/app2/main.go
  log-output/manifests/deploy.yaml
  pong-app/.gitignore
  pong-app/README.md
  pong-app/manifests/deploy.yaml
  pong-app/manifests/ingress.yaml
Due: test_log-output, test_pingpong, build_log-output, build_pingpong

Typo fix [no ci]
  log-output/manifests/deploy.yaml
  pong-app/manifests/deploy.yaml
Due: test_log-output, test_pingpong, build_log-output, build_pingpong

Update README.md
  README.md
Due: none

Reorganize folders to accommodate for two services for Project Todo.
  .forgejo/workflows/build-push-dev.yaml
  .forgejo/workflows/build-push-main.yaml
  log-output/app1/Containerfile
  log-output/app2/Containerfile
  project/go.mod
  project/go.sum
  project/manifests/deploy-todo-app.yaml
  project/manifests/deploy-todo-backend.yaml
  project/manifests/ingress.yaml
  project/manifests/service-todo-app.yaml
  project/manifests/service-todo-backend.yaml
  project/todo-app/Containerfile
  project/todo-app/app.go
  project/todo-app/go.mod
  project/todo-app/go.sum
  project/todo-app/integration_concurrency_test.go
  project/todo-app/integration_image_refresh_test.go
  project/todo-app/integration_startup_test.go
  project/todo-app/main.go
  project/todo-app/setup_test.go
  project/todo-app/static/frontend.js
  project/todo-app/templates/index.html
  project/todo-app/unit_app_test.go
  project/todo-backend/Containerfile
  project/todo-backend/go.mod
  project/todo-backend/go.sum
  project/todo-backend/main.go
  project/todo-backend/main_unit_test.go
Due: test_log-output, test_project, build_log-output, build_project, test

Baseline works now after some fiddling with containers and configuration yamls.
  project/manifests/deploy-todo-app.yaml
  project/manifests/deploy-todo-backend.yaml
  project/manifests/ingress.yaml
  project/todo-app/Containerfile
  project/todo-app/app.go
  project/todo-app/templates/index.html
Due: test_project, build_project, test

TypeScript initial version is ready. Needs unit tests and maybe refactoring for deeper understanding.
  .gitignore
  project/todo-app/package-lock.json
  project/todo-app/package.json
  project/todo-app/static/frontend.js
  project/todo-app/ts/main.ts
  project/todo-app/ts/todo.ts
  project/todo-app/ts/tsconfig.json
Due: test_project, build_project, test

Update index.html to remove placeholder "todos".
  project/todo-app/templates/index.html
Due: test_project, build_project, test

Still playing with the TypeScript, to understand it better. Code won't compile right now [no ci]
  .forgejo/workflows/build-push-dev.yaml
  project/todo-app/package-lock.json
  project/todo-app/package.json
  project/todo-app/static/frontend.js
  project/todo-app/ts/main.ts
  project/todo-app/ts/todo.ts
  project/todo-app/tsconfig.json
Due: test_project, build_project, test

This test setup uses jest and CJS. Commit before going ESM all the way [no ci]
  project/todo-app/jest.config.cjs
  project/todo-app/jest.setup.js
  project/todo-app/package-lock.json
  project/todo-app/package.json
  project/todo-app/static/frontend.js
  project/todo-app/ts/main.ts
  project/todo-app/ts/tests/main.dom.test.ts
  project/todo-app/ts/tests/todo.test.ts
  project/todo-app/ts/todo-api.ts
  project/todo-app/ts/tsconfig.jest.json
  project/todo-app/ts/tsconfig.json
  project/todo-app/tsconfig.json
Due: test_project, build_project, test

Commit before npm audit fix --force [no ci]
  project/todo-app/jest.config.cjs
  project/todo-app/jest.setup.js
  project/todo-app/package-lock.json
  project/todo-app/package.json
  project/todo-app/ts/tests/main.dom.test.ts
  project/todo-app/ts/tests/todo.test.ts
  project/todo-app/ts/tsconfig.json
  project/todo-app/vitest.config.ts
  project/todo-app/vitest.setup.ts
Due: test_project, build_project, test

Switched to vitest and yarn. Updated go library versions. Need to fix the CI still. [no ci]
  .gitignore
  project/todo-app/go.mod
  project/todo-app/package-lock.json
  project/todo-app/package.json
  project/todo-app/static/frontend.js
  project/todo-app/yarn.lock
  project/todo-backend/go.mod
  project/todo-backend/go.sum
Due: test_project, build_project, test

Testing CI for npm stuff
  .forgejo/workflows/build-push-dev.yaml
  project/todo-app/package.json
  project/todo-app/ts/tests/todo.test.ts
  project/todo-app/yarn.lock
Due: test_project, build_project, test

New try
  .forgejo/workflows/build-push-dev.yaml
Due: none

Again
  .forgejo/workflows/build-push-dev.yaml
Due: none

AGain
  .forgejo/workflows/build-push-dev.yaml
Due: none

AgAiN
  .forgejo/workflows/build-push-dev.yaml
Due: none

Now everything seems to work with CI
  .forgejo/workflows/build-push-dev.yaml
Due: none
