Repository fazstrac/devops-with-kubernetes: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, containerize, test

build:
  image: woodpeckerci/plugin-kaniko
  settings:
    registry: ghcr.io
    repo: fazstrac/dwk-project
    dockerfile: project/Containerfile
    context: project
    tags: ${CI_COMMIT_SHA}
    cache: true
    dry-run: false
    build_args:
    - COMMIT_SHA=${CI_COMMIT_SHA}
    - COMMIT_AUTHOR_EMAIL=${CI_COMMIT_AUTHOR_EMAIL}
  ...

containerize:
  image: woodpeckerci/plugin-kaniko
  settings:
    registry: ghcr.io
    repo: fazstrac/log_output
    dockerfile: log_output/Containerfile
    context: log_output
    tags: ${CI_COMMIT_SHA}
    cache: true
    dry-run: false
    build_args:
    - COMMIT_SHA=${CI_COMMIT_SHA}
  ...

test:
  image: golang:1.24-alpine
  commands:
  - cd project
  - go test -v

Further work on CI
  .woodpecker/build.yaml
  .woodpecker/build_logapp.yaml
  .woodpecker/test.yaml
Due: build, test

Don't trigger unnecessary builds...finally
  .woodpecker/build.yaml
  .woodpecker/build_logapp.yaml
  .woodpecker/test.yaml
Due: build, test

Project should print to stdout the message.
  project/main.go
Due: build, test

Tidying up CI files and getting the project to output what's needed
  .woodpecker/build.yaml
  .woodpecker/build_logapp.yaml
  project/Containerfile
  project/go.sum
  project/main.go
Due: build, test

Try to get 'latest' tag working, typo fixes
  .woodpecker/build.yaml
  project/go.mod
Due: build, test

Merge test.yaml into build.yaml. TODO: better renaming. Prepare to close pull request.
  .woodpecker/build.yaml
  .woodpecker/test.yaml
Due: build, test

Ready to release exercise 1.2
  README.md
Due: none

Oops
  README.md
Due: none

First trial
  .woodpecker/build.yaml
  .woodpecker/build_logapp.yaml
  log_output/Containerfile
  log_output/go.mod
  log_output/go.sum
  log_output/main.go
Due: build, containerize

Change container user to nonroot
  log_output/Containerfile
Due: containerize

Change container user to nonroot
  log_output/Containerfile
  log_output/manifests/deploy.yaml
Due: containerize

One more time
  log_output/Containerfile
Due: containerize

Run containers as nonroot
  project/Containerfile
Due: build, test

Ready to release log_output app deployment manifest
  README.md
  log_output/app.py
  log_output/manifests/deploy.yaml
Due: containerize

Ready to merge and release exercise/1p4
  README.md
  project/manifests/deploy.yaml
Due: build, test

First version with HTML templating and new build options
  project/Containerfile
  project/main.go
  project/templates/index.html
Due: build, test

Using Git to get COMMIT_ID didn't work
  project/Containerfile
Due: build, test

Ooops forgot to add the templates to container build
  project/Containerfile
Due: build, test

Update Containerfile for project
  project/Containerfile
Due: build, test

More work with the CI infra
  .gitignore
  .woodpecker/build.yaml
  project/Containerfile
Due: build, test

Wrong folder for commit_sha in Containerfile
  project/Containerfile
Due: build, test

Allow manual pipeline run
  .woodpecker/build.yaml
Due: build

CI issues
  project/templates/index.html
Due: build, test

revamp commit_sha location
  .woodpecker/build.yaml
  project/Containerfile
Due: build, test

change text case in Containerfile. Should code this after work, brainfarts one after another...
  project/Containerfile
Due: build, test

Getting ready to merge PR
  README.md
  project/manifests/deploy.yaml
Due: build, test

Try to add commit tags into Containers and code
  .woodpecker/build.yaml
  project/Containerfile
  project/main.go
Due: build, test

Added Nodeport service to project
  project/manifests/deploy.yaml
  project/manifests/service.yaml
Due: build, test

Ready to merge
  project/main.go
Due: build, test

Ready to release
  README.md
  project/manifests/deploy.yaml
Due: build, test

First try at log_output web aservice: code, test, service and ingress
  log_output/go.mod
  log_output/go.sum
  log_output/main.go
  log_output/main_test.go
  log_output/manifests/deploy.yaml
  log_output/manifests/ingress.yaml
  log_output/manifests/service.yaml
Due: containerize

Works with Traefik - with TLS
  .woodpecker/build_logapp.yaml
  log_output/manifests/ingress.yaml
  log_output/manifests/service.yaml
Due: containerize

Now this works also with plain http. Had to change Traefik values.yaml to enable port 80
  log_output/manifests/ingress.yaml
Due: containerize

You may get improved test coverage if you use correct paths...Changed .woodpecker/build_logapp.yaml
  .woodpecker/build_logapp.yaml
Due: none

Refactor tests into more compact suite
  log_output/main_test.go
  log_output/manifests/deploy.yaml
  log_output/manifests/ingress.yaml
  log_output/manifests/service.yaml
Due: containerize

Ready to release
  README.md
  log_output/manifests/deploy.yaml
Due: containerize

Updated manifests, bumped texts in project/main.go
  project/main.go
  project/manifests/deploy.yaml
  project/manifests/ingress.yaml
  project/manifests/service.yaml
Due: build, test

Ready for release 1.8
  README.md
  project/manifests/deploy.yaml
Due: build, test

Reorganize CI and begin pong_app
  .woodpecker/build.yaml
  .woodpecker/build_logapp.yaml
  pong_app/.gitignore
  pong_app/Containerfile
  pong_app/go.mod
  pong_app/go.sum
  pong_app/main.go
  pong_app/main_test.go
  pong_app/manifests/deploy.yaml
  pong_app/manifests/ingress.yaml
  pong_app/manifests/service.yaml
  project/Containerfile
Due: build, test

Removed "depends_on" from build.yaml
  .woodpecker/build.yaml
Due: build

Path conditions:
  build: any of: project/**, .woodpecker/build.yaml
  containerize: any of: log_output/**
  test: any of: project/**, .woodpecker/test.yaml
